<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Grocery</title>
        <base href="/" />
    </head>
    <body>
        <h1>Grocery Management</h1>
        <div id="root"></div>
    </body>
</html>
